<div data-ng-controller="UsersCtrl">
  <div>
    <div data-ng-show="!isLoggedIn()">
      <button data-ng-click="setForm('signUp')"> Create User</button>
      <button data-ng-click="setForm('signIn')">Sign In</button>
    </div>
    <div data-ng-show="isLoggedIn()">
      <button data-ng-click="signOut()">Sign Out</button>
    </div>
  </div><br><br>

  <form name="newUserForm" data-ng-show="form == 'signUp'">
    <label >Email</label>:
    <input type="text" required data-ng-model="newUser.email"></br>
    <label >Password</label>:
    <input type="password" required data-ng-model="newUser.password"></br>
    <label >Password confirmation</label>:
    <input type="password" required data-ng-model="newUser.password_confirmation"></br>

    <button data-ng-disabled="newUserForm.$invalid" data-ng-click="signUp(newUser)"> Create User</button>
  </form>

  <form name="loginForm" data-ng-show="form == 'signIn'">
    <label>Email</label>
    <input type="text" required data-ng-model="user.email"></br>
    <label>Password</label>
    <input type="password" required data-ng-model="user.password"></br>
    <button data-ng-disabled="loginForm.$invalid" data-ng-click="signIn(user)">Sign In</button>
  </form>
</div>

<button data-ng-click="StorePath()">Store Front</button>
